.AboutMe_icon__plH03 {
  font-size: 1.8rem;
}
.AboutMe_wrapper__OTjD3 {
  display: flex;
}
.AboutMe_aboutme__tpvWO {
  display: flex;
  align-items: center;
  padding: 1.6rem 0.8rem;
  margin: auto;
}
.AboutMe_avatar___ys0V {
  border-radius: 50%;
  width: 9.6rem;
}
.AboutMe_biography__EUP2X {
  margin-left: 1.6rem;
}
.AboutMe_biography__EUP2X > p {
  font-size: 1.6rem;
  line-height: 1.8;
}
.AboutMe_linkIcon__fQ78R {
  font-size: 1.4rem;
}
.SideMenuTitle_root__lGDHp {
  height: 5.6rem;
  display: flex;
  align-items: center;
  border-top: 2px solid var(--theme-accent);
  border-bottom: 2px solid var(--theme-accent);
  background-color: var(--theme-background);
}
.SideMenuTitle_icon__9JKgj {
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SideMenuTitle_children__gpH_2 {
  flex: 1 1;
  font-size: 1.8rem;
}
.ContentsLayout_layout__SN3HZ {
  display: grid;
  grid-template-columns: 1fr 40rem;
  grid-gap: 8rem;
  gap: 8rem;
}
.ContentsLayout_contents__9eBSO {
  overflow: hidden;
  margin-left: 2rem;
}
.ContentsLayout_sidemenuContainer__uHw0a {
  background-color: var(--theme-background);
}
.ContentsLayout_sidemenu__jckjS {
  max-height: 100vh;
  top: 0;
  left: 0;
  margin-right: 2rem;
  overflow: scroll;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-direction: column;
}
.ContentsLayout_aboutme__LDJfw {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--theme-background);
  z-index: 1;
}
.ContentsLayout_otherMenu__ZtAIx {
  z-index: 0;
  flex: 1 1;
  overflow: scroll;
}
.ContentsLayout_sidemenuOpenButton__TYei4 {
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;
  display: none;
  justify-content: center;
  align-items: center;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  background-color: var(--theme-secondary);
}
.ContentsLayout_menuIcon__WgoMS {
  font-size: 2.2rem;
  color: var(--theme-primary);
}
@media (max-width: 1200px) {
  .ContentsLayout_layout__SN3HZ {
    grid-template-columns: 1fr 35rem;
  }
}
@media (max-width: 1000px) {
  .ContentsLayout_layout__SN3HZ {
    grid-template-columns: 1fr;
  }
  .ContentsLayout_sidemenuContainer__uHw0a {
    height: 100vh;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    transform: translateX(100%);
    opacity: 0;
    transition: 0.2s ease;
  }
  .ContentsLayout_sidemenuOpen__oEAXR {
    display: block;
    transform: translateX(0);
    opacity: 1;
  }
  .ContentsLayout_sidemenuOpenButton__TYei4 {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
  }
  .ContentsLayout_showSidemenuOpenButton__kFhup {
    opacity: 1;
    visibility: visible;
  }
  .ContentsLayout_sidemenu__jckjS {
    padding: 0 0.8rem;
  }
}
.Tags_title__b9bDX {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.Tags_tagsIcon__A8He2 {
  font-size: 1.6rem;
}
.Tags_tags__2tdXJ {
  overflow: scroll;
}
.Tags_tagLink__RWBTb {
  padding: 0 0.8rem 0 4rem;
  border-bottom: 2px dashed var(--theme-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.8rem;
  color: var(--theme-primary);
}
.Tags_tagLink__RWBTb:hover {
  -webkit-text-decoration: underline var(--theme-secondary);
  text-decoration: underline var(--theme-secondary);
}
.Tags_tagName__4sL5K {
  font-size: 1.6rem;
}
.Tags_count__iXewz {
  margin-left: 0.8rem;
  font-size: 1.2rem;
  color: var(--theme-secondary);
}
.Tags_chevronIcon__K24XB {
  width: 0.6rem;
  height: 1rem;
  color: var(--theme-secondary);
  transition: 0.4s ease;
}
.Tags_tagLink__RWBTb:hover .Tags_chevronIcon__K24XB {
  transform: translateX(-0.4rem);
}
.Date_root__IZtIX {
  color: var(--theme-secondary);
  display: flex;
  align-items: center;
}
.Date_icon__P__n1 {
  font-size: 1.4rem;
  margin-right: 0.8rem;
}
.Date_datetime__4voxM {
  font-size: 1.6rem;
}
@media (max-width: 700px) {
  .Date_datetime__4voxM {
    font-size: 1.2rem;
  }
}
.TagsWithIcon_root__OKGsm {
  color: var(--theme-secondary);
  display: flex;
  align-items: center;
}
.TagsWithIcon_icon__Czn2P {
  font-size: 1.2rem;
}
.TagsWithIcon_tags__6LSfV {
  margin-left: 0.8rem;
  font-size: 1.6rem;
}
.TagsWithIcon_tag__mBuq5 {
  color: var(--theme-secondary);
}
@media (max-width: 700px) {
  .TagsWithIcon_tags__6LSfV {
    font-size: 1.2rem;
  }
}
.ArticleItem_root__VMQwY {
  display: flex;
  height: 20rem;
}
.ArticleItem_image__QhGfF {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  margin-right: 3.2rem;
}
.ArticleItem_info__kf6cy {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ArticleItem_title__quJW8 {
  flex: 1 1;
  font-size: 2.4rem;
  font-weight: 400;
  overflow: hidden;
}
.ArticleItem_titleLink__gFa4O {
  line-height: 1.8;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
}
.ArticleItem_metaInfo__jTfLo > :not(:first-child) {
  margin-top: 1.6rem;
}
@media (max-width: 700px) {
  .ArticleItem_root__VMQwY {
    height: 12rem;
  }
  .ArticleItem_image__QhGfF {
    width: 12rem;
    height: 12rem;
    margin-right: 0.4rem;
  }
  .ArticleItem_title__quJW8 {
    font-size: 1.6rem;
  }
  .ArticleItem_titleLink__gFa4O {
    line-height: 1.6;
    -webkit-line-clamp: 3;
  }
  .ArticleItem_metaInfo__jTfLo > :not(:first-child) {
    margin-top: 0.4rem;
  }
}
.ArticleList_root__H4BAF > :not(:first-child) {
  margin-top: 6.4rem;
}
@media (max-width: 700px) {
  .ArticleList_root__H4BAF > :not(:first-child) {
    margin-top: 4rem;
  }
}
