.page-top {
    width: 100vw;
    height: 100vw;
    background: white;
    position: relative;
}

.title-image {
    width: 100vw;
    height: 50vw;
}

.page-top p {
    position: absolute;
    color: red;
    top: 0;
    left: 0;
}
